{% extends "pretixcontrol/event/settings_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block inside %}
    <legend>{% trans "Mailing list integration" %}</legend>
    <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_field form.newsletter_ml_subscribe_address layout="horizontal" %}
        {% bootstrap_field form.newsletter_ml_text layout="horizontal" %}
        {% bootstrap_field form.newsletter_ml_add_automatically layout="horizontal" %}
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}
